# logs
logs
*.log
npm-debug.log*

# compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# dependency directories
node_modules/

# typeScript cache
*.tsbuildinfo

# optional npm cache directory
.npm

# optional eslint cache
.eslintcache

# output of 'npm pack'
*.tgz

# compiled code
lib/

# vscode
.Vscode

# tests
coverage